{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src = "{% static 'Script.js'%}" ></script>
  <link rel = "stylesheet" href = "{% static 'Style.css'%}">
  <title>Profile</title>
</head>
<body>
  <div class = "box">
    <form action="" method="POST">
      {% csrf_token %}
      <div class = "container1">
        <input type = "file" multiple = "false" accept = "/image*" name = "inputFile" id = "inputFile" onchange = "showPreview(event);">
        <div class = "imgPrev" id ="imagePrev">
          <img id="imagePrev">
        </div>
      </div>
      <div class = "container2">
        <input type = "text" id = "name" name = "name" placeholder = "Name">
        <label for = 'submit' id = "submit">Press Enter</label>
      </div>
    </form>
  </div>
</body>
</html>
